a {
  color: #11999E;
  text-decoration: none;
}

h1 {
  font-size: 4rem; /* 16px = 1rem */
  font-family: 'ZCOOL KuaiLe', cursive;
  margin: 50px auto 10px auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  padding-top: 30px;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

body {
  color: #40514E;
  font-family: "Merriweather", serif;
  margin: 0;
  margin-top: 0;
  background-color: white;
  text-align: center;
}

p {
  line-height: 2;
}

.ar-image {
  float: right;
  margin-left: 30px;
  width: 15%;
}

.breakfast {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: powderblue;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 470px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 470px;
}

.middle-container {
  padding: 100px 0;
}

.book-img {
  width: 20%;
  float: left;
  margin-right: 20px;
}

.book {
  margin: 100px auto 200px auto;
}

.books {
  margin: auto;
  width: 40%;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #66BFBF;
}

.skills {
  width: 40%;
  margin: auto;
}

.skill1-desc {
  width: 75%;
}

.skill2-desc {
  width: 75%;
}

.skill-row {
  margin-bottom: 150px;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.profile {
  width: 40%;
  margin: auto;
}

.contact-me {
  text-align: center;
}

.copyright {
  color: #EAF6F6;
}

.media-link {
  color: #11999E;
  padding-left: 40px;
  font-weight: bold;
  text-decoration: none;
}

.profile-pic {
  border-radius: 50%;
  width: 30%;
}

.BUTTON_KDT {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
   background-image: -moz-linear-gradient(top, #66BFBF, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #66BFBF, #1E62D0);
   background-image: -webkit-gradient(to bottom, #66BFBF, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   margin-top: 40px;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_KDT:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
